{% extends "base.html" %}
{% block nav %}
    {% include "account/accountnav.html" %}
{% endblock nav %}


{% block content %}
	<!-- Breadcrumb -->
	<div class="container">
		<div class="bg0 flex-wr-sb-c p-rl-20 p-tb-8">
			<div class="f2-s-1 p-r-30 m-tb-6">
				<a href="{% url 'home' %}" class="breadcrumb-item f1-s-3 cl9">
					Home
				</a>
                <span class="breadcrumb-item f1-s-3 cl9">
					Account
				</span>
                <a href="{% url 'account:login' %}" class="breadcrumb-item f1-s-3 cl9">
					Log In
				</a>
				<span class="breadcrumb-item f1-s-3 cl9">
					Password Reset
				</span>
			</div>
		</div>
	</div>

    <!-- Page heading -->
	<div class="container p-t-4 p-b-100">
		<h2 class="f1-l-1 cl2" style="text-align: center">
			Password Reset
		</h2>
	</div>

    <div class="container">
    	<div class="row justify-content-center">
		    <div class="alert alert-info">
                An email has been sent with instructions to reset your password
            </div>
    	</div>
    </div>
{% endblock content %}