<!-- Playlists  -->
<div class="p-b-25">
	<div class="how2 how2-cl1 flex-sb-c m-r-10 m-r-0-sr991">
		<h3 class="f1-m-2 cl12 tab01-title">
			Playlists
		</h3>

		<a href="{% url 'playlist-view' %}" class="tab01-link f1-s-1 cl9 hov-cl10 trans-03">
			View all
			<i class="fs-12 m-l-5 fa fa-caret-right"></i>
		</a>
	</div>

	<div class="flex-wr-sb-s p-t-35">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <iframe src="https://embed.music.apple.com/ng/playlist/cus-top-30/pl.u-e98lkNqtadaqLrg" style="border:5px solid lightgrey; border-radius: 16px" width="100%" height="400" allowfullscreen allow="encrypted-media"></iframe>
            </div>
            <div class="col-lg-6 col-md-6">
                <iframe src="https://audiomack.com/embed/playlist/zerogravityy__/cus-top-30" style="border:5px solid lightgrey; border-radius: 16px" width="100%" height="400" allowfullscreen scrolling="no" allow="encrypted-media"></iframe>
            </div>
        </div>
	</div>

    <div class="container">
        <div class="mt-4">
            <a href="https://music.apple.com/ng/playlist/cus-top-30/pl.u-e98lkNqtadaqLrg" class="btn btn-outline-secondary btn-block" role="button" target="_blank"><span style="font-weight: bold; color: darkred">Apple Music ZGM Next Gen</span></a>
            <br>
            <a href="https://audiomack.com/playlist/zerogravityy__/cus-top-30" class="btn btn-outline-secondary btn-block" role="button" target="_blank"><span style="font-weight: bold; color: darkred">Audiomack ZGM Next Gen</span></a>
            <br>
        </div>
    </div>
</div>