{% extends "base.html" %}

{% block nav %}
    <ul class="main-menu justify-content-center">
        <li><a href="{% url 'home' %}">HOME</a></li>

        <li><a href="{% url 'chart:zgm-chart' %}">CHARTS</a></li>

        <li><a href="{% url 'blog:blog-list' %}">BLOG</a></li>

        <li class="main-menu-active">
            <a href="{% url 'playlist-view' %}">PLAYLISTS</a>
        </li>

        <li><a href="{% url 'artist:artist-view' %}">ARTISTS</a></li>

        <li><a href="{% url 'video-view' %}">VIDEOS</a></li>

        <li class="main-menu-dropdown">
            <a href="#">ACCOUNT</a>
            <ul class="sub-menu">
                {% if user.is_authenticated %}
                    <li><a href="{% url 'account:profile' %}">Profile</a></li>
                    <li><a href="{% url 'account:songsubmission-view' %}">Song Submission</a></li>
                    <li><a href="{% url 'account:logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'account:register' %}">Sign Up</a></li>
                    <li><a href="{% url 'account:login' %}">Log In</a></li>
                    <li><a href="{% url 'account:songsubmission-view' %}">Song Submission</a></li>
                {% endif %}
            </ul>
        </li>
    </ul>
{% endblock nav %}

{% block content %}
	<!-- Breadcrumb -->
	<div class="container">
		<div class="bg0 flex-wr-sb-c p-rl-20 p-tb-8">
			<div class="f2-s-1 p-r-30 m-tb-6">
				<a href="{% url 'home' %}" class="breadcrumb-item f1-s-3 cl9">
					Home
				</a>
				<span class="breadcrumb-item f1-s-3 cl9">
					Playlists
				</span>
			</div>
		</div>
	</div>

    <!-- Page heading -->
	<div class="container p-t-4 p-b-100">
		<h2 class="f1-l-1 cl2" style="text-align: center">
			Playlists
		</h2>
	</div>

    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <iframe src="https://embed.music.apple.com/ng/playlist/cus-top-30/pl.u-e98lkNqtadaqLrg" style="border:5px solid lightgrey; border-radius: 16px" width="100%" height="400" allowfullscreen allow="encrypted-media"></iframe>
            </div>
            <div class="col-lg-6 col-md-6">
                <iframe src="https://audiomack.com/embed/playlist/zerogravityy__/cus-top-30" style="border:5px solid lightgrey; border-radius: 16px" width="100%" height="400" allowfullscreen scrolling="no" allow="encrypted-media"></iframe>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="mt-4 mb-4">
            <a href="https://music.apple.com/ng/playlist/cus-top-30/pl.u-e98lkNqtadaqLrg" class="btn btn-outline-secondary btn-block" role="button" target="_blank"><span style="font-weight: bold; color: darkred">Apple Music ZGM Next Gen: Top 50</span></a>
            <br>
            <a href="https://audiomack.com/playlist/zerogravityy__/cus-top-30" class="btn btn-outline-secondary btn-block" role="button" target="_blank"><span style="font-weight: bold; color: darkred">Audiomack ZGM Next Gen: Top 50</span></a>
            <br>
        </div>
    </div>
{% endblock content %}