{% extends "base.html" %}
{% load static %}

{% block content %}
    <div style="background-image: url('../../../static/images/dc.jpg'); background-size: cover;">
    <br><br>
        <div class="container">
            <div class="mt-4 mb-4">
                <a href="https://www.youtube.com/watch?v=mJz6tQ5ZlDk" class="btn btn-outline-secondary btn-block" role="button" target="_blank"><span style="font-weight: bold; color: white">5mins with ZeroGravity S01E02: Smada</span></a>
                <br>
                <a href="https://www.youtube.com/watch?v=67lhzgJT_8Q" class="btn btn-outline-secondary btn-block" role="button" target="_blank"><span style="font-weight: bold; color: white">5mins with ZeroGravity S01E01: Ikayh</span></a>
                <br>
                <a href="https://www.youtube.com/watch?v=G8md1IUrFu0" class="btn btn-outline-secondary btn-block" role="button" target="_blank"><span style="font-weight: bold; color: white">5mins with ZeroGravity Trailer</span></a>
                <br>

                <br><br><br>
                <a href="https://www.zerogravitymusic.xyz/" class="btn btn-outline-secondary btn-block" role="button" target="_blank"><span style="font-weight: bold; color: white">WEBSITE HOME PAGE</span></a>
                <br>
                <a href="https://www.instagram.com/zerogravityy__" class="btn btn-outline-secondary btn-block" role="button" target="_blank"><span style="font-weight: bold; color: white">INSTAGRAM</span></a>
                <br>
                <a href="https://twitter.com/zerogravityy__" class="btn btn-outline-secondary btn-block" role="button" target="_blank"><span style="font-weight: bold; color: white">TWITTER</span></a>
                <br>
                <a href="https://www.youtube.com/channel/UC4FiwnJ3R7o1Obhy0czRajQ" class="btn btn-outline-secondary btn-block" role="button" target="_blank"><span style="font-weight: bold; color: white">YOUTUBE</span></a>
                <br>

                <br><br><br>
                <a href="https://music.apple.com/ng/playlist/cus-top-30/pl.u-e98lkNqtadaqLrg" class="btn btn-outline-secondary btn-block" role="button" target="_blank"><span style="font-weight: bold; color: white">Apple Music Playlist: ZGM Next Gen</span></a>
                <br>
                <a href="https://audiomack.com/playlist/zerogravityy__/cus-top-30" class="btn btn-outline-secondary btn-block" role="button" target="_blank"><span style="font-weight: bold; color: white">Audiomack Playlist: ZGM Next Gen</span></a>
                <br>
                <a href="https://music.apple.com/ng/playlist/valentine/pl.u-11zBBJBTNbNmdy4" class="btn btn-outline-secondary btn-block" role="button" target="_blank"><span style="font-weight: bold; color: white">ZGM Valentine's Playlist</span></a>
                <br>
            </div>
        </div>
    </div>
{% endblock content %}